/********
colors
green - #6c8555
light blue - #679dbf
dark blue - #28475a
purple - #764c88
peach - #fed9bc
**********/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@fontface {
    font-family: Sweet Patterson DEMO;
    src: url(../fonts/SweetPattersonDEMO.tff);
}

header {
    font-family: Sweet Patterson DEMO;
    font-size: 2em;
    width: 100%;
    text-align: center;
    color: #28475a;
}

h1 {
    margin: 0;
}

header img {
    max-width: 200px;
}

main {
    text-align: center;
}

h2,
h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
    color: #28475a;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #28475a;
}

button {
    margin: 5%;
    padding: 2%;
    background-color: #679dbf;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

button:hover {
    border: #679dbf solid 3px;
    color: #679dbf;
    background-color: #ffffff;
}

button:active {
    background-color: #fed9bc;
}
