/********
colors
green - #6c8555
light blue - #679dbf
dark blue - #28475a
purple - #764c88
peach - #fed9bc
**********/

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@font-face {
    font-family: Sweet Patterson DEMO;
    src: url(../fonts/SweetPattersonDEMO.tff);
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

header {
    font-family: Sweet Patterson DEMO;
    font-size: 2em;
    width: 100%;
    text-align: center;
    color: #28475a;
    background: #ffffff;
}

h1 {
    margin: 2%;
    background: #fed9bc;
    padding-bottom: 2%;
    padding-top: 2%;
}

header img {
    max-width: 200px;
}

main {
    text-align: center;
    background-color: #fed9bc;
    width: 95%;
    margin: auto;
    padding: 2%;
}

h2,
h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
    color: #28475a;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #28475a;
    padding: 1%;
}

button {
    margin: 5%;
    padding: 2%;
    background-color: #679dbf;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

button:hover {
    border: #679dbf solid 3px;
    color: #679dbf;
    background-color: #ffffff;
}

button:active {
    background-color: #fed9bc;
}

#link {
    color: #6c8555;
}

#link:hover {
    color: #764c88;
}

#link:visited {
    color: #6c8555;
}

aside {
    background-color: #fed9bc;
    padding: 2%;
    width: 95%;
    margin: auto;
}

aside img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
    padding-top: 5%;
}

@media (min-width: 700px) {

    main {
        float: left;
        width: 45%;
        margin-left: 2%;
    }

    aside {
        width: 45%;
        float: right;
        margin-right: 2%;
    }

    aside img {
        padding-top: 0;
        padding-bottom: 1%;
    }
}

@media (min-width: 900px) {

    #one {
        width: 49%;
        float: left;
    }

    #two {
        width: 49%;
        float: right;
    }
}

@media (min-width: 1000px) {

    #container {
        max-width: 1000px;
        margin: auto;
    }
}
